@import './config-scss/variables.scss';
@import './config-scss/reset.scss';
@import  './config-scss/rem-calc.scss';
@import  './config-scss/btn.scss';
@import  './config-scss/animation.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}


main{
    width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}